/* Universal Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #100d28;
  color: white;
  display: flex;
}

v
/* Coming Soon Section */
.coming-soon h2 {
  font-size: 2rem;
  color: #ff00e2;
  margin-bottom: 20px;
}

.coming-soon p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  line-height: 1.6;
}

.coming-soon ul {
  margin-bottom: 30px;
}

.coming-soon ul li {
  margin-bottom: 10px;
  list-style-type: none;
  font-size: 1.1rem;
}

.coming-soon ul li:before {
  content: '• ';
  color: #00a2ff;
  font-size: 1.5rem;
}

button {
  background: #8906e6;
  color: white;
  padding: 15px 25px;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  transition: transform 0.3s ease, background-color 0.3s ease;
  font-size: 1rem;
}

button:hover {
  background-color: #ff00e2;
  transform: scale(1.05);
}

.glow-on-hover {
  position: relative;
}

.glow-on-hover:before {
  content: '';
  position: absolute;
  top: -2px;
  left: -2px;
  right: -2px;
  bottom: -2px;
  background: linear-gradient(45deg, #8906e6, #ff00e2);
  filter: blur(8px);
  border-radius: inherit;
}
